---
layout : default
---

<div class="page-header">
  <h1>
    {{ page.title }} 
    {{# page.tagline }}
      <small>{{ . }}</small>
    {{/ page.tagline }}
  </h1>
  <h3 align="right">
    Published at
    {{ page.date }}
    , in category 
    {{# page.categories?to_categories }}
      <a id="lower{{ name }}"><strong>{{ name }}</strong></a>
    {{/ page.categories?to_categories }}
  </h3>
  <h3 align="right">
    Tags: 
    {{# tags}}
      <a href="{{ url }}">{{ name }}</a>
    {{/ tags}}
  </h3>
</div>

<script>
{{# page.categories?to_categories }}
  var url = "/{{ name }}";
  document.getElementById('lower{{ name }}').href=url.toLowerCase();
{{/ page.categories?to_categories }}
</script>

<div class="row">
  <div class="span12">
    {{{ content }}}
    <hr>
    <div class="pagination btn-group">
      {{# page?previous }}
        <a class="btn prev" href="{{ url }}" title="{{ title }}">&larr; Previous</a>
      {{/ page?previous }}
      {{^ page?previous }}
        <a class="btn disabled prev">&larr; Previous</a>
      {{/ page?previous }}

        <a class="btn" href="/archive">Archive</a>

      {{# page?next }}
        <a class="btn next" href="{{ url }}" title="{{ title }}">Next &rarr;</a>
      {{/ page?next }}
      {{^ page?next }}
        <a class="btn next disabled">Next &rarr;</a>
      {{/ page?next }}
    </div>
    <hr>
    {{{ comments }}}
  </div>
</div>

